body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    width: 300px;
    background-color: rgb(19, 19, 19);
    margin: 0;
    text-align: center;
    align-items: center;
    /*border: 1px solid green;*/

}

#productbar {
    margin-top: 10px;
    margin-left: 10px;
}
.productimg{
    max-width: 40px;
}



.analyse {
    background-color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    color: white;
    max-width: 300px;
    word-wrap: break-word;

    margin-top: 20px;
    margin-bottom: 20px;
    
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 5px;
    border-color: rgb(77, 77, 77);
    border-style: solid;
    transition: 0.5s;

}

.analyse:hover {
    /*padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;*/

    border-radius: 30px;
    background-color: rgb(5, 5, 5);
    transition: 0.5s;
    

    /*font-size: 22px;*/

}

.bar {
    padding: 10px;
    background-color: rgb(10, 10, 10);
}